*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/deploymentTargetDropDown.xml
/.idea/sonarlint/issuestore/4/c/4c7a03c2ce4d4770d2b163308d563ce870038557
/.idea/sonarlint/issuestore/5/a/5a9cef6ae40741b7a4808b6b377179ba04486bed
/.idea/sonarlint/issuestore/8/c/8c55c3ccc257e5907959013f99656e4c8ec3903e
/.idea/sonarlint/issuestore/3/7/379829e31bf7bf568a60b50a3ca7fe0a8d6f9e0d
/.idea/sonarlint/issuestore/f/2/f27aa62e1ecb7ad7193b1888006ebe2dc94d8213
/.idea/sonarlint/issuestore/f/8/f83f5bbf20a6255909b9eca751e519211ac4545e
